<section class="our-services-section">
  <h2>🧹 Our Services</h2>
  <div class="service-cards">
    <div class="service-card">
      <img src="assets/cleaning_worker.jpg" alt="Pest Control" />
      <h4>Kitchen Cleaning</h4>
      <p>Deep cleaning of your kitchen space for hygiene and shine.</p>
      <a class="book-btn" routerLink="/user/send-request">Book Now</a>
    </div>

    <div class="service-card">
      <img src="assets/floor_cleaning.jpg" alt="Deep Cleaning" />
      <h4>Floor Cleaning</h4>
      <p>Floor cleaning that brightens your space.</p>
      <a class="book-btn" routerLink="/user/send-request">Book Now</a>
    </div>

    <div class="service-card">
      <img src="assets/sofa_cleaning.jpg" alt="Sofa Cleaning" />
      <h4>Mattress & Sofa Cleaning</h4>
      <p>Remove deep-seated dirt, allergens, and stains.</p>
      <a class="book-btn" routerLink="/user/send-request">Book Now</a>
    </div>

    <div class="service-card">
      <img src="assets/Bathroomcleaning.jpg" alt="Bathroom Cleaning" />
      <h4>Bathroom Cleaning</h4>
      <p>Sanitize tiles, toilets, and fittings for a sparkling finish.</p>
      <a class="book-btn" routerLink="/user/send-request">Book Now</a>
    </div>
  </div>
</section>
